# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client request=s
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

db.sqlite3
.venv
__pycache__